<header class="header">
    <ul class="brand">
        <li><h1 class="title">inspirabbble</h1></li>
        <li class="description"><span>Inspire yourself with fresh shots from Dribbble</span></li>
    </ul>
    <ul class="options"></ul>
</header>
