<header class="header">
    <ul class="brand">
        <li><a class="title" href="#/">inspirabbble</a></li>
        <li class="description"><span>Inspire yourself with fresh shots from Dribbble</span></li>
    </ul>
    <ul class="options">
        <li><a href="#/settings">Settings</a></li>
    </ul>
</header>
