<div class="settings">
    {{#each this}}
        {{form this}}
    {{/each}}
    <div class="settings-buttons">
        <a href="#" class="settings-save">Save</a>
        <a href="#" class="settings-cancel">Cancel</a>
    </div>
</div>