<div class="grid-wrapper">
    <header><a href="#prev" class="icon-chevron-up prev"></a></header>
    <div class="grid">
        <div class="col col-1"></div>
        <div class="col col-2"></div>
        <div class="col col-3"></div>
        <div class="col col-4"></div>
        <div class="col col-5"></div>
        <div class="col col-6"></div>
    </div>
    <footer><a href="#next" class="icon-chevron-down next"></a></footer>
</div>
