<!doctype html>
<html ng-app="" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <!--(if target server)><!-->
    <link rel="stylesheet" href="assets/css/main.css">
    <script data-main="assets/js/main" src="assets/bower_components/requirejs/require.js"></script>
    <script src="//localhost:35729/livereload.js"></script>
    <!--<!(endif)-->
    <!--(if target build)>
    <link rel="stylesheet" href="assets/dist/main.css">
    <script src="assets/dist/main.js"></script>
    <!(endif)-->
</head>
<body>
    <div id="grid"></div>
</body>
</html>
