
.grid {
    $col-width: 220px;
    @include clearfix();
    @include transition-property(top);
    @include transition-duration(0.4s);
    position: relative;
    top: 0;

    .col {
        @include clearfix();
        display: none;
        float: left;
        min-height: 1px;
    }

    @for $i from 1 through 6 {
        @media (min-width: $i * $col-width) {
            .col-#{$i} {
                display: block;
            }
            .col {
                width: 100% / $i;
            }
        }
    }
}
