
#grid {
    $col-width: 220px;
    @include clearfix();
    margin: $layout-header-height 10px 0 10px;
    overflow: hidden;

    .col {
        @include clearfix();
        display: none;
        float: left;
        min-height: 1px;
    }

    @for $i from 1 through 6 {
        @media (min-width: $i * $col-width) {
            .col-#{$i} {
                display: block;
            }
            .col {
                width: 100% / $i;
            }
        }
    }
}
