
.header {
    @include clearfix();
    position: fixed;
    width: 100%;
    top: 0;
    background-color: rgba(0, 0, 0, 0.85);
    color: #ddd;
    font-size: 12px;

    ul {
        @include inline-block-list();
        height: $layout-header-height;
        line-height: $layout-header-height;

        li {
            margin: 0 20px;
        }
    }

    .brand {
        float: left;
    }

    .title {
        color: #fff;
        margin: 0;
        padding: 0;
        font-size: 24px;
        line-height: $layout-header-height;
        text-indent: -9999em;
        background: url(../img/inspirabbble-logo-white.png) no-repeat 0 50% / 100% 100%;
        width: (222px * .8);
        height: (60px * .8);
    }

    .options {
        float: right;
    }
}
