.overlay {
    @include fadeIn(.3s, 0, ease-in, both, hidden);
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(#000, .65);
    z-index: 1000;
}