.shot {
    @include animation-name(shot-in);
    @include animation-duration(2s);
    border: rgba(0, 0, 0, 0) solid 1px;
    margin: 10px 10px 20px 10px;
    background-color: #fff;
    img {
        @include box-shadow(0 0 10px rgba(0, 0, 0, 0.2));
        display: block;
        width: 100%;
        height: auto;
    }
}

@include keyframes(shot-in) {
    0% {
        max-height: 0;
    }
    100% {
        max-height: 1000px;
    }
}
