
@import url(http://fonts.googleapis.com/css?family=Alegreya+Sans+SC);

h1,
h2,
h3 {
    font-family: 'Alegreya Sans SC', sans-serif;
    font-weight: 400;
}

p {
    font-family: 'Alegreya Sans SC', sans-serif;
}
